body {
  background-color: #000000;
}

.container {
  height: 100vh;
}

span {
  display: block;
  height: 100%;
  border: 1px solid white;
}

.btn {
  border: 2px solid white;
  font-size: 20px;
  width: 15%;
}

.btn:hover,
.btn:focus {
  box-shadow: inset 10em 0 0 0 white;
  color: #000000 !important;
}

@media (max-width: 500px) {
  .btn {
    width: auto;
  }
}
